<!DOCTYPE html>
<html lang="en">

<head>
	
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Homepage</title>
	{% load static %}	

	<!-- Bootstrap Core CSS -->
	<link href="{% static 'trafficdata/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

	<!-- Custom CSS -->
	<link href="{% static 'trafficdata/css/traffic.css' %}" rel="stylesheet">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
	<!-- Navigation -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Traffic Data</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="#">About</a></li>
					<li><a href="https://www.linkedin.com/in/saurabh-kumar-22179227">Contact</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>
	<!-- Page Content -->

	<div class='filter'>
		<div class='container'>
			<div class='row'>
				<div class='filter-inner clearfix'>
					<div class='col-md-12'>
						<!-- filter form -->
						<form class="form-horizontal" action="/search-result">
						<!-- 	{% csrf_token %} -->
							<fieldset>

								<!-- <legend>Form Name</legend> -->

								<!-- Text input-->
								<div class="form-group">
									<!-- <label class="col-md-4 control-label" for="textinput"></label> -->
									<div class="col-md-4">
										<input id="textinput" name="userQuery" type="text" placeholder="Enter Search Query" class="form-control input-md">
										<span class="help-block">Write the search query and hit search button</span>
									</div>
								
									<!-- option one drop down -->
									<div class="col-md-2">
										<select id="user-options" name="user" class="form-control">
											<option value=" " selected='selected' disabled="disabled">Select User</option>
											{% for user in users_list %}
												<option value="{{user.screen_name}}">{{user.screen_name}}</option>
											{% endfor %}
											
										</select>
										<span class="help-block" for="selectbasic1">User Filter</span>
									</div>
									<!-- option two drop down -->
									<div class="col-md-2">
										<select id="selectbasic" name="city" class="form-control">
											<option value=" " selected='selected' disabled="disabled">Select City</option>
											{% for city in city_list %}
												<option value="{{city}}">{{city}}</option>
											{% endfor %}
										</select>
										<span class="help-block" for="selectbasic2">City Filter</span>
									</div>
										<!-- Button -->
									<!-- <label class="col-md-4 control-label" for="singlebutton">Single	Button</label> -->
									<div class="col-md-4">
										<button id="singlebutton" name="search" class="btn btn-primary traffic-button">Search</button>
									</div>
								</div>
							</fieldset>
						</form>
						<!-- form ends -->	
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='margin20'></div>
	<!-- container for map or table  button -->
	<div class='container'>
		<div class='row'>
			<div class="col-md-12 clearfix">
				<button id="toggleView" name="map or list view" class="btn btn-primary traffic-button">Map View</button>
			</div>
		</div>
	</div>
	<div class='margin20'></div>
	<div class="container">
		<div class="row">
			<!-- main information -->
			<div class="col-md-12">
				<div class="row carousel-holder">
					<div class="col-md-12">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>#</th>
									<th>Text</th>
									<th>Traffic Info</th>
									<th>Location</th>
									<th>User</th>
									<th>Time</th>
								</tr>
							</thead>
							<tbody>
								{% if data %}
									{% for data_ in data %}
									<tr>
										<td>{{forloop.counter}}</td>
										<td><a data-toggle="tooltip" data-placement="top" title="Click here to get the detail information" href="/trafficdata/{{ data_.tweet_id }}/">{{data_.tweet_text}}</a></td><!-- will go to detail page i.e by which user this was posted -->
										<td>{{data_.traffic_info}}</td>
										<td>{{data_.location}}</td>
										<td ><a data-toggle="tooltip" data-placement="top" title="Click here to visit user Twitter timeline" href="https://twitter.com/{{ data_.user_id.screen_name }}/">{{data_.user_id.screen_name}}</a></td><!-- No need to apply joins here -->
										<td>{{data_.tweet_date}}</td>
									</tr>
									{% endfor %}
								{% endif %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='container' id='paginator'>
		<!-- paginator -->
		<div class='row'>
			<div class='col-md-3 col-md-offset-5 col-lg-3 col-lg-offset-5 col-sm-5 col-sm-offset-4 col-xs-5 col-xs-offset-4'>
				<nav aria-label="Page navigation">
					<ul class="pagination">
						{% if data.has_previous %}
						<li><a href="?page={{ data.previous_page_number }}" aria-label="Previous"> <span aria-hidden="true">&laquo;</span></a></li>   
						</a></li>
						{% else %}
						<li class="disabled"><a aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
						{% endif %}
						<li class="disabled"><a>Page {{ data.number }} of {{ data.paginator.num_pages }}.</a></li>
					
						{% if data.has_next %}<li><a href="?page={{ data.next_page_number }}" aria-label="Next"> <span
								aria-hidden="true">&raquo;</span>
						</a></li>
						{% else %}<li class="disabled"><a aria-label="Previous"><span aria-hidden="true">&raquo;</span></a></li>
						{% endif %}
					</ul>
				</nav>
			</div>
		</div>

	</div>
	<!-- /.container -->

	<div class="footer-class">
		<!-- Footer -->
				<footer id='footer'>
			<div class="row">
				<div class="col-md-12">
					<div class="social-navigation">
						<a href="https://twitter.com/saurabh8919"><i class="fa fa-twitter"></i></a> 
						<a href="https://www.linkedin.com/in/saurabh-kumar-22179227"><i class="fa fa-linkedin-square"></i></a> 
						<a href="mailto:saurabhkumar.spsu@gmail.com"><i class="fa fa-google"></i></a>
					</div>
				</div>
			</div>
		</footer>


	</div>
	<!-- /.container -->

	<!-- jQuery -->
	<script src="{% static 'trafficdata/js/jquery.js' %}"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="{% static 'trafficdata/js/bootstrap.min.js' %}"></script>

	<!-- custom js file -->
	<script src="{% static 'trafficdata/js/trafficdata.js' %}"></script>
</body>

</html>
